services:
  core-api:
    image: aung2127/app
    container_name: core-api
    env_file:
      - "core/.env"
    ports:
      - "8081:8081"
      - "8443:8443"
    networks:
      - kainos-network
    volumes:
      - ./certs:/app/certs:ro
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1",  "--spider", "http://localhost:8081/healthz"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s


  postgresql:
    container_name: kainos-postgresql
    image: postgres:15-alpine
    env_file:
      - core/.env
    environment:
      POSTGRES_USER: kainos
      POSTGRES_DB: kainos
    networks:
      - kainos-network
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./core/db/migrations:/docker-entrypoint-initdb.d
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U kainos -d kainos"]
      interval: 30s
      timeout: 10s
      retries: 5

  nats:
    container_name: kainos-nats
    image: nats:2.10-alpine
    command: [ "-js", "-m", "8222" ]
    networks:
      - kainos-network
    ports:
      - "4222:4222"
      - "8222:8222"
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8222/healthz" ]
      interval: 30s
      timeout: 10s
      retries: 3

networks:
  kainos-network:
    driver: bridge

volumes:
  postgres-data:
    driver: local
  redis-data:
    driver: local
  caddy-data:
    driver: local
  caddy-config:
    driver: local
